@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.hero-exclusives {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/hero-exclusive.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-exclusive.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-bottom: 70px;
  background-attachment: fixed;
}

.hero-exclusives .hero-exlusive-warpper {
  padding: 122px 0;
  text-align: center;
}

.hero-exclusives .hero-exclusive-title {
  color: #fff;
  font-size: 33px;
  line-height: 1;
  font-family: "Yeseva One", cursive;
}

@media screen and (min-width: 768px) {
  .hero-exclusives .hero-exclusive-title {
    font-size: 60px;
  }
}

@media screen and (min-width: 992px) {
  .hero-exclusives .hero-exclusive-title {
    font-size: 90px;
  }
}

.exclusive {
  margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .exclusive {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .exclusive-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .exclusive-item {
    padding: 6px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.exclusive-list-icon {
  position: relative;
  display: block;
}

.exclusive-list-icon::after {
  content: "";
  position: absolute;
  background-color: #00000014;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .exclusive-list-icon::after {
    width: 96%;
  }
}

.exclusive-item-title {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
}

@media screen and (min-width: 768px) {
  .exclusive-item-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .exclusive-item-title {
    font-size: 20px;
  }
}

.exclusiveitem-price {
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #1a9395;
  margin-top: 10px;
  margin-bottom: 20px;
}

.exclusive-list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 55px;
}

.exclusive-list-icon .exclusive-icon-item {
  color: gray;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black;
  font-weight: 400;
  line-height: 2;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  -webkit-transition: all;
  transition: all;
}

ul {
  padding: 0;
  margin: 0;
}

.telephone-section {
  position: relative;
  display: block;
}

.telephone-section::after {
  content: "";
  position: absolute;
  background-color: lightblue;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.telephone-section .header-telephone {
  display: none;
}

@media screen and (min-width: 768px) {
  .telephone-section .header-telephone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.telephone-section .header-telephone-link {
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

.telephone-section .header-telephone-title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75);
  font-family: "Montserrat", sans-serif;
}

header .logo {
  width: 150px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .hero-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
}

@media screen and (min-width: 768px) {
  header .hero-logos .hamburger {
    display: none;
    cursor: pointer;
  }
}

header .hero-wrapper {
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  header .hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/taf-one.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/taf-one.jpg");
  background-repeat: no-repeat;
  background-position: 49px 0;
  background-size: cover;
  margin-top: -22px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-position: 118px 0;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    background-position: 166px 0;
  }
}

@media screen and (min-width: 1366px) {
  .hero {
    background-position: 207px 0;
  }
}

.hero .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 342px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .hero .hero-container {
    min-height: 342px;
    max-width: 544px;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-container {
    min-height: 342px;
    max-width: 575px;
  }
}

.hero .hero-sub-wrap {
  width: 100%;
  padding: 70px 0 20px 50px;
  text-align: right;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .hero .hero-sub-wrap {
    text-align: center;
    padding: 149px 0 220px;
  }
}

.hero .hero-title {
  font-weight: bold;
  font-size: 36px;
  width: 100%;
  color: #fff;
  line-height: 1;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .hero .hero-title {
    font-size: 60px;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .hero .hero-title {
    font-size: 90px;
    width: 97%;
  }
}

.hero .hero-description {
  font-size: 20px;
  color: #fff;
  line-height: 1.5;
  font-family: "Yeseva One", cursive;
}

@media screen and (min-width: 768px) {
  .hero .hero-description {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {
  .hero .hero-description {
    padding: 0% 25%;
  }
}

@media screen and (min-width: 1366px) {
  .hero .hero-description {
    padding: 0% 10%;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  position: relative;
}

.nav .nav-list .nav-item {
  list-style-type: none;
  position: relative;
  z-index: 2;
}

.nav .nav-list .nav-item:hover .dropdown-menu {
  display: block;
}

.nav .nav-list .nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
}

@media screen and (min-width: 1024px) {
  .nav .nav-list .nav-link {
    font-size: 18px;
  }
}

.nav .nav-list .nav-link:hover {
  color: #1a9395;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.nav .dropdown-menu {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
}

.nav .dropdown-menu .dropdown-list {
  display: block;
  margin: 10px;
}

.nav .dropdown-menu .dropdown-item {
  width: 150px;
  padding: 10px;
}

.nav .dropdown-menu .dropdown-link {
  text-decoration: none;
  font-size: 18px;
  font-family: "Yeseva One", cursive;
  line-height: 1;
}

.nav .dropdown-menu .dropdown-link:hover {
  color: #1a9395;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  border: 1px dotted #1a9395;
  border-top: none;
  border-left: none;
  border-right: none;
}

@media screen and (min-width: 768px) {
  .btnfree {
    padding: 30px 0 0;
  }
}

@media screen and (min-width: 1366px) {
  .btnfree {
    padding: 30px 0 0;
  }
}

.hero-btn {
  padding: 18px 30px;
  background: #fff;
  color: #000;
  border: none;
  margin-top: 16px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-btn:hover {
  background: #000;
  color: #fff;
}

.form-parallax-btn {
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: gray;
  padding: 19px 41px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.form-parallax-btn:hover {
  color: #fff;
  background: #000;
}

@media screen and (min-width: 768px) {
  .about {
    width: 100%;
    background-image: url("../images/taf-two.JPG");
    background-repeat: no-repeat;
    background-position: 372px 0;
    background-size: cover;
    margin-top: -87px;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    background-position: 466px 0;
    height: 114vh;
  }
}

@media screen and (min-width: 1366px) {
  .about {
    background-position: 649px 0;
    height: 145vh;
  }
}

@media screen and (min-width: 1400px) {
  .about {
    width: 100%;
    background-position: 800px 0;
    height: 100vh;
  }
}

.about .about-container {
  margin-top: 0;
  margin-bottom: 0;
  padding: 60px 20px 0;
}

@media screen and (min-width: 768px) {
  .about .about-container .about-sub-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about .about-container .about-sub-wrap .about-title {
  font-size: 42px;
  margin-bottom: 35px;
  display: block;
  position: relative;
  padding-bottom: 6px;
  font-family: "Yeseva One", cursive;
}

@media screen and (min-width: 768px) {
  .about .about-container .about-sub-wrap .about-title {
    font-size: 50px;
  }
}

.about .about-container .about-sub-wrap .about-title::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  .about .about-container .about-inner-wrap {
    padding-top: 91px;
  }
}

.about .about-container .about-sub-title {
  padding: 0 0 10px;
  font-size: 20px;
  line-height: 1.4;
}

.about .about-container .about-caption {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.6em;
  font-size: 13px;
  line-height: 27px;
}

@media screen and (min-width: 768px) {
  .about .about-container .about-caption {
    width: 100%;
    max-width: 293px;
  }
}

.about .about-container .about-read-more {
  font-size: 10px;
  text-decoration: none;
  font-weight: "Montserrat", sans-serif;
  color: #1a9395;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.about .about-container .about-read-more:hover {
  color: #000;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.about .about-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .about .about-image {
    display: block;
  }
}

.services {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .services {
    margin-bottom: 95px;
  }
}

.services .service-wrapper {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .services .service-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 135px;
  }
}

@media screen and (min-width: 768px) {
  .services .service-wrapper .service-col-right {
    padding: 0 30px;
  }
}

@media screen and (min-width: 768px) {
  .services .service-wrapper .service-col-left {
    padding: 0 30px;
  }
}

.services .service-wrapper .service-title {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
  display: block;
  position: relative;
}

@media screen and (min-width: 768px) {
  .services .service-wrapper .service-title {
    line-height: 1.2;
    font-size: 50px;
  }
}

.services .service-wrapper .service-title::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 50px;
  height: 2px;
  bottom: -8px;
  left: 0;
}

.services .service-wrapper .service-item-title {
  font-size: 18px;
  font-weight: bold;
  font-family: "Yeseva One", cursive;
}

.services .service-wrapper .service-list {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .services .service-wrapper .service-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

.services .service-wrapper .service-item, .services .service-wrapper p {
  margin-bottom: 22px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  padding-right: 19px;
}

@media screen and (min-width: 768px) {
  .services .service-wrapper .service-item, .services .service-wrapper p {
    margin-bottom: 22px;
  }
}

.services .service-wrapper .service-read {
  background: none;
  border: none;
  font-size: 10px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.services .service-wrapper .service-read:hover {
  color: #000;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.form-paralax {
  min-height: 500px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/taf-one.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/taf-one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 13px;
}

.form-paralax .form-paralax-container {
  background-color: #fff;
  min-height: inherit;
  padding: 49px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.4);
  position: relative;
  top: 80px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

@media screen and (min-width: 768px) {
  .form-paralax .form-paralax-container {
    max-width: 500px;
  }
}

.form-paralax .form-paralax-container .form-parallax-title {
  line-height: 0.9;
  margin-bottom: 54px;
  padding: 12px;
  font-size: 35px;
  position: relative;
  display: block;
  text-align: center;
  font-family: "Yeseva One", cursive;
}

@media screen and (min-width: 768px) {
  .form-paralax .form-paralax-container .form-parallax-title {
    font-size: 50px;
  }
}

.form-paralax .form-paralax-container .form-parallax-title::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 50px;
  height: 2px;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 30px;
}

.form-paralax .form-paralax-container input, .form-paralax textarea {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  width: 100%;
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.form-paralax .form-paralax-container .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.form-paralax .form-paralax-container .input-wrapper .input-col {
  width: 100%;
}

.form-paralax .gap {
  height: 200px;
}

.form-paralax textarea {
  width: 100%;
}

.customers {
  margin-bottom: 90px;
}

.customers .customers-wrapper {
  margin-top: 170px;
}

.customers .customers-wrapper .customer-title {
  font-size: 35px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  display: block;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .customers .customers-wrapper .customer-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .customers .customers-wrapper .customer-title {
    font-size: 65px;
    padding: 0 25%;
  }
}

.customers .customers-wrapper .customer-title::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 50px;
  height: 2px;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 38px;
}

.customers .customers-wrapper .customers-item-inner {
  border: 1px solid;
  border-color: #00000017;
  padding: 30px 50px;
}

.customers .customers-wrapper .customer-text {
  font-weight: 400;
  line-height: 1.2;
  font-family: "Yeseva One", cursive;
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.customers .customers-wrapper .customers-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.customers .customers-wrapper .customers-item {
  margin-bottom: -16px;
  margin-top: 25px;
}

@media screen and (min-width: 768px) {
  .customers .customers-wrapper .customers-item {
    padding: 10px;
    text-align: center;
  }
}

.customers .customers-wrapper .customer-quote-icon {
  color: darkcyan;
}

.customers .customers-wrapper .customers-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .customers .customers-wrapper .customers-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.33% 33.33% 33.33%;
        grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.hero-rentals {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/ex-4.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/ex-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-bottom: 70px;
  background-attachment: fixed;
}

.hero-luxury {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/hero-exclusive.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-exclusive.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-bottom: 70px;
  background-attachment: fixed;
}

.hero-neighborhood {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/neighborhood-hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/neighborhood-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-bottom: 70px;
  background-attachment: fixed;
}

.neighborhoods {
  margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .neighborhood-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

.neighborhood-list .neighborhood-item {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/listing.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/listing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 11px;
  text-align: center;
  padding: 100px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.neighborhood-list .neighborhood-item:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/listing.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/listing.jpg");
  cursor: pointer;
}

.neighborhood-list .neighborhood-link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-family: "Yeseva One", cursive;
  font-size: 18px;
}

@media screen and (min-width: 1024px) {
  .neighborhood-list .neighborhood-link {
    font-size: 20px;
  }
}

.hero-about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/about-hero.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/about-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-bottom: 70px;
  background-attachment: fixed;
}

.about-contents .aboutpage-title {
  text-align: center;
  font-size: 35px;
  line-height: 1;
  font-family: "Yeseva One", cursive;
  margin-bottom: 90px;
}

@media screen and (min-width: 768px) {
  .about-contents .aboutpage-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .about-contents .aboutpage-title {
    font-size: 65px;
  }
}

.unparalleled {
  margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .unparalleled .unparalleled-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1;
    gap: 94px;
  }
}

.unparalleled .unparalleled-container .unparalleled-column-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.unparalleled .unparalleled-container .unparalleled-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  margin-bottom: 18px;
}

.unparalleled .unparalleled-container .unparalleled-bold-caption {
  font-size: 14px;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  line-height: 1.4;
  margin-bottom: 18px;
}

.unparalleled .unparalleled-container .unparalleled-normal-caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.75);
}

.unparalleled .unparalleled-container .broker-title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  margin-bottom: 10px;
}

.unparalleled .unparalleled-container .broker-caption {
  font-size: 13px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.75);
}

.about-parallax {
  min-height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/about-parallax.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/about-parallax.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 13px;
  margin-bottom: 50px;
}

.about-parallax-list {
  margin-top: 54px;
}

@media screen and (min-width: 768px) {
  .about-parallax-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1024px) {
  .about-parallax-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
}

.about-parallax-span {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  font-family: "Yeseva One", cursive;
  line-height: 1;
}

.about-parallax-text {
  color: #fff;
  font-size: 19px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.about-parallax-item {
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 35px;
}

.about-parallax-item::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 51px;
  height: 3px;
  bottom: 117px;
}

.aboutpage-second-parallax {
  min-height: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/hero-bg-one.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-bg-one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 13px;
  margin-bottom: 70px;
}

.records .record-sales-title {
  font-size: 35px;
  line-height: 1;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  color: #1a9395;
  margin-bottom: 112px;
  display: block;
  position: relative;
}

@media screen and (min-width: 768px) {
  .records .record-sales-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .records .record-sales-title {
    font-size: 65px;
  }
}

.records .record-sales-title::after {
  content: "";
  position: absolute;
  background-color: #1a9395;
  width: 100%;
  height: 1px;
  bottom: -60px;
  left: 0;
}

.establishes {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .establishes .established-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 28px;
  }
}

.establishes .established-content-wrapper .established-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.establishes .established-title {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .establishes .established-title {
    width: 80%;
  }
}

.establishes .estbalished-caption {
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  padding: 10px 0;
}

.main-bg-color {
  background-color: #fdf2f2;
}

.main-bg-color .blog-column-min-height {
  height: 395px;
}

.blog-post-header-wrapper {
  background-color: #fff;
}

.blog-post {
  margin-top: -39px;
}

@media screen and (max-width: 768px) {
  .blog-post .blog-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1024px) {
  .blog-post .blog-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}

.blog-post .blog-main .blog-column {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #fff;
  padding: 13px 13px;
}

@media screen and (max-width: 768px) {
  .blog-post .blog-main .blog-column {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .blog-post .blog-main .blog-column .blog-img {
    width: 100%;
  }
}

.blog-post .blog-main .blog-column .search-box-bg {
  background-color: #fff;
  padding: 13px 13px;
}

.blog-post .blog-main .blog-column .blog-right-content {
  display: block;
  position: relative;
  margin-bottom: 40px;
}

.blog-post .blog-main .blog-column .blog-right-content::after {
  content: "";
  position: absolute;
  background-color: aqua;
  width: 100%;
  height: 1px;
  bottom: -16px;
  left: 0;
}

.blog-post .blog-main .blog-img-caption {
  font-size: 30px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  margin-top: 13px;
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}

.blog-post .blog-main .blog-caption {
  margin-top: 20px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.blog-post .blog-main .blog-quote, .blog-post .blog-main span {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #1a9395;
}

.blog-post #search {
  padding: 15px;
  width: 100%;
}

.blog-post .post-title {
  font-size: 19px;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  margin-top: 80px;
}

.blog-post .post-caption-link {
  text-decoration: none;
  color: #1a9395;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.75);
}

.hero-contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/hero-contact.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 360px;
  margin-bottom: 70px;
  background-attachment: fixed;
}

.contacts {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .contacts .contact-content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 45px;
  }
}

.contacts .contact-content-wrapper .contact-content-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contacts .contact-title {
  font-size: 35px;
  text-align: center;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  .contacts .contact-title {
    text-align: left;
    font-size: 50px;
  }
}

.contacts .contact-caption {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  text-align: center;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  .contacts .contact-caption {
    text-align: left;
    width: 73%;
  }
}

.contacts .contact-icon-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts .contact-icon-list {
    text-align: left;
  }
}

.contacts .contact-icon-list .contact-icon-item {
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .contacts .contact-icon-list .contact-icon-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
}

.contacts .contact-icon-list .contact-icon {
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 100%;
  padding: 15px;
  color: #1a9395;
}

.contacts .contact-icon-list .contact-icon-caption {
  font-size: 13px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 1024px) {
  .contacts .contact-icon-list .contact-icon-caption {
    font-size: 15px;
  }
}

.contacts .contact-icon-list .contact-icon-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  font-family: "Yeseva One", cursive;
}

@media screen and (min-width: 1366px) {
  .contacts .contact-icon-list .contact-icon-title {
    font-size: 20px;
  }
}

.contacts .contactform-wrap {
  background-color: rgba(250, 250, 250, 0.518);
  min-height: inherit;
  padding: 17px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.contacts .contactform-wrap .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.contacts .contactform-wrap .input-wrapper .input-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.contacts .contactform-wrap .input-wrapper, .contacts .contactform-wrap input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  padding: 8px 0;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.contacts .contactform-wrap wrapper-2, .contacts .contactform-wrap input, .contacts .contactform-wrap select {
  margin-bottom: 17px;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.contacts .textarea-contact {
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.contacts .contactform-wrap {
  background-image: none;
}

.contacts select {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid gray;
  margin-bottom: 18px;
}

.contacts optgroup {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.listings .list-wrapper {
  padding: 125px 0 100px;
}

.listings .listing-title {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  line-height: 37px;
  font-family: "Yeseva One", cursive;
  position: relative;
  display: block;
}

@media screen and (min-width: 768px) {
  .listings .listing-title {
    font-size: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .listings .listing-title {
    font-size: 65px;
  }
}

.listings .listing-title::after {
  content: "";
  position: absolute;
  background-color: grey;
  width: 50px;
  height: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 59px;
}

.listings .listing-inner-wrapper {
  text-align: center;
  margin-top: 37px;
}

@media screen and (min-width: 768px) {
  .listings .listing-inner-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 768px) {
  .listings .listing-inner-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.33% 33.33% 33.33%;
        grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

.listings .listing-inner-wrapper .list-box {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .listings .listing-inner-wrapper .list-box {
    padding: 12px;
  }
}

.listings .listing-inner-wrapper .list-box .list-box-image {
  height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.listings .listing-inner-wrapper .list-box .list-box-title {
  text-align: left;
  font-size: 19px;
  font-family: "Yeseva One", cursive;
  line-height: 1.5;
  margin-bottom: 23px;
}

.listings .listing-inner-wrapper .list-box .list-box-price {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  color: darkcyan;
  font-size: 13px;
}

.site__footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/taf-one.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/taf-one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
}

.site__footer .footer-icons {
  background-color: darkgray;
  padding: 5px 5px;
  border-radius: 30px;
  margin-top: 103px;
  color: #fff;
}

.site__footer .site__primary-footer {
  text-align: center;
}

.site__footer .site__footer-copyright {
  text-align: center;
  display: block;
  position: relative;
  bottom: 31px;
}

.site__footer .site__footer-copyright::after {
  content: "";
  position: absolute;
  background-color: #729393;
  width: 100%;
  height: 2px;
  bottom: 56px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .site__footer .site__footer-copyright::after {
    bottom: 36px;
  }
}

.site__footer .widget__gettelephone {
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .site__footer .widget__gettelephone {
    font-size: 50px;
  }
}

.site__footer .site__nav-widget-title {
  color: #fff;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
}

.site__footer .site__menu-address {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Yeseva One", cursive;
}

.site__footer .copyright {
  color: #fff;
}

.site__footer .site__menu-container {
  margin-bottom: 90px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One", cursive;
}
/*# sourceMappingURL=style.css.map */