.hero-neighborhood{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/neighborhood-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    margin-bottom: 70px;
    background-attachment: fixed;
}

.neighborhoods{
    margin-bottom: 75px;
}

.neighborhood-list{

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 10px;
    }

    .neighborhood-item{
        background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../images/listing.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 11px;
        text-align: center;
        padding: 100px 0;
        flex: 1;

        &:hover{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/listing.jpg');
        cursor: pointer;
        }

        }

        .neighborhood-link{
            text-decoration: none;
            color: $Color2;
            font-weight: 700;
            font-family: $fontFamily;
            font-size: 18px;

            @media screen and (min-width: 1024px) {
                font-size: 20px;
            }

        }

}
