$Color1: #000;
$Color2: #fff;
$Color3: rgb(26, 147, 149);
$background2: #000;
$background1: #fff;
$background: grey;
$fontFamily: 'Yeseva One', cursive;
$fontFamily2:  'Montserrat', sans-serif;
$fontBold: 'Montserrat', sans-serif;
